*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html , body{
  height: 100%;
  width: 100%;
background-color: azure;
}

section{
  font-family: gilroy;
}
.tipsPart{
background-color: #DFDFF2;
font-family: gilroy;


}
.tipsPart>img{
height: 50vh;
width: 50vh;


}
.tipsPart h2 {
text-align: center;
position: relative;
padding: 20px 0;
color: #041704;
font-size: 2.5rem;
}

.tipsPart h2::before,
.tipsPart h2::after {
content: '';
position: absolute;
height: 3px;
width: 150px;
background-color: #041704;
top: 50%;
}

.tipsPart h2::before {
left: 20%;
}

.tipsPart h2::after {
right: 20%;
}

.tipsPart {
display: flex;
flex-direction: column;
gap: 30px;
padding: 40px;
font-family:  gilroy;

}

.tipsPart > img,
.tipsPart > pre,
.tipsPart > p {
width: 45%;
font-size: 1.3rem;
}

.tipsPart > img {
align-self: flex-start;
}


.tipsPart  p {
align-self: flex-end;
text-align: justify;
line-height: 1;
font-size: 1.4rem;
width: 90%;
padding-left: 2rem;
}
.tip{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}
